<div class="panel panel-default">
  <div class="panel-heading">
  	<div class="row">
	    <div class="col-md-6">
	      <div class="form-group">
	        <label class="control-label col-md-3">Project Summary
	        </label>
	        <div class="col-md-6">
	          <%= select_tag 'project_id', options_for_select(Project.manager_projects(current_user.id).pluck(:name,:id)),:prompt => '--Select--', :class => 'form-control', id:'chart-details' %>
	        </div>
	      </div>
	    </div>
  	</div>
  </div>
  <div class="panel-body" id="projectChart">
  </div>
</div>